body{
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size:cover;
	height: 100vh;
	width: 100vw;
}

.racestart{
	position:fixed;
	left:20px;
    top:30px;
	opacity: 
}

.charstart{
	position:absolute;
    bottom:17em;
	height: 12%;
}

.charstartTop{
	position:absolute;
	z-index: 1;
	right: 0em;
    bottom:17em;
	height: 12%;
}

.pikastart{
	position:absolute;
	
    bottom:4em;
	height: 12%;
}

.pikastartTop{
	position:absolute;
	z-index: 1;
	right: 0em;
    bottom:4em;
	height: 12%;
}

.winner{
	position:fixed;
	left:900px;
    top:140px;
}

.loser{
	position:fixed;
	left:600px;
    top:250px;
}

.winTag{
	position:fixed;
	left:880px;
    top:350px;
	z-index: 1;
}

.loseTag{
	position:fixed;
	left:615px;
    top:400px;
	z-index: 1;
}